<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263760766525-hkr0ph52i8vht7qmpuctpgo1smbl8ggg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263760766525-hkr0ph52i8vht7qmpuctpgo1smbl8ggg</string>
	<key>API_KEY</key>
	<string>AIzaSyBK1k1zb19D8GhdxNG6wdWB46sKZsH0RCw</string>
	<key>GCM_SENDER_ID</key>
	<string>263760766525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MrMurmandProd.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-19827</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-19827.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263760766525:ios:c43559301faf2439a86c54</string>
</dict>
</plist>